In [ ]:
#1.print "Hello Python"

print("Hello Phython")

Hello Phython

In [ ]:
#2. arithmetic operations

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
floor_division = a // b
modulus = a % b
exponentiation = a ** b

print("Addition: ",addition)
print("Subtraction:",subtraction)
print("Multiplication:",multiplication)
print("Division:",division)
print("Floor Division:",floor_division)
print("Modulus:",modulus)
print("Exponentiation: ",exponentiation)

Enter first number: 7
Enter second number: 3
Addition:  10.0
Subtraction: 4.0
Multiplication: 21.0
Division: 2.3333333333333335
Floor Division: 2.0
Modulus: 1.0
Exponentiation:  343.0

In [ ]:
#3.area of a triangle

b = float(input("Enter base : "))
h= float(input("Enter height : "))

area = 0.5 * b * h

print("area of triangle :", area)

Enter the base : 7
Enter the height : 3
The area of the triangle is: 10.5

In [ ]:
#4.quadratic equation

import cmath  # Importing the cmath module to handle complex square roots

# Input coefficients a, b, and c
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

# Calculate the discriminant
d = (b**2) - (4*a*c)

# Find two solutions (handling complex roots with cmath)
x = (-b - cmath.sqrt(d)) / (2*a)
y = (-b + cmath.sqrt(d)) / (2*a)


print('The solutions are {0} and {1}'.format(x, y))

Enter a: 7
Enter b: 3
Enter c: 5
The solutions are (-0.21428571428571427-0.817537367304257j) and (-0.21428571428571427+0.817537367304257j)

In [ ]:
#5.swap two variables

M = input("Enter  value  M: ")
S = input("Enter  value  S: ")

M, S = S, M

print("After swapping:")
print("M =", M)
print("S =", S)

Enter the value of M: 7
Enter the value of S: 3
After swapping:
M = 3
S = 7

In [ ]:
#6.Generate a Random Number

import random

random_number = random.randint(1, 100)

print("Random number:", random_number)

Random number: 5

In [ ]:
#7.convert kilometers to miles

km = float(input("Enter the distance in km: "))

# Conversion factor
CF = 0.621371

m = km * CF

print(f"{km} kilometers is equal to {m} miles")

Enter the distance in km: 7
7.0 kilometers is equal to 4.349597 miles

In [ ]:
#8.convert Celsius to Fahrenheit

c = float(input("Enter temperature in Celsius: "))

f = ( 9/5 * c ) + 32

print(f"{c}째C is equal to {f}째F")

Enter temperature in Celsius: 7
7.0째C is equal to 44.6째F

In [ ]:
#9.display calendar

import calendar

yy = int(input("Enter year: ")) #yy = 2000
mm = int(input("Enter month: ")) #mm = 10

print(calendar.month(yy, mm))

Enter year: 2000
Enter month: 10
    October 2000
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [ ]:
#10.check if a Number is Positive, Negative or Zero

def check_number(num):
    if num > 0:
        print("is a Positive number",num)
    elif num < 0:
        print("is a Negative number",num)
    else:
        print("The number is Zero.")

number = float(input("Enter  number: "))

# Call the function
check_number(number)

Enter  number: 7
7.0 is a Positive number.

In [ ]:
#11.check if a Number is Odd or Even

num = int(input("Enter number: "))
if num % 2 == 0:
    print("Even",{num} )
else:
    print("Odd",num)

Enter number: 7
Odd 7

In [ ]:
#12.check Leap Year

year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("is a Leap Year.",year)
else:
    print("is not a Leap Year.",year)

Enter a year: 2000
is a Leap Year. 2000

In [ ]:
#13.check Prime Number

num = int(input("Enter number: "))
if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("is not a Prime number.",num)
            break
    else:
        print("is a Prime number.",num)
else:
    print("is not a Prime number.",num)

Enter number: 7
is a Prime number. 7

In [ ]:
#14.print all Prime Numbers in an Interval

start = int(input("Enter start of interval: "))
end = int(input("Enter end of interval: "))

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

Enter start of interval: 7
Enter end of interval: 37
7
11
13
17
19
23
29
31
37

In [ ]:
#15.Find the Factorial of a Number

def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

num = int(input("Enter number: "))
print(f"Factorial of {num} is {factorial(num)}.")

Enter number: 7
Factorial of 7 is 5040.

In [ ]:
#16.display the Multiplication Table

num = int(input("Enter number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
#17.print the Fibonacci Sequence

n = int(input("Enter the number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter the number of terms: 9
0 1 1 2 3 5 8 13 21

In [ ]:
#18.Check Armstrong Number

num = int(input("Enter a number: "))
order = len(str(num))
sum_of_digits = sum(int(digit) ** order for digit in str(num))

if num == sum_of_digits:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 41
41 is not an Armstrong number.

In [ ]:
#19.find Armstrong Numbers in an Interval

start = int(input("Enter start of interval: "))
end = int(input("Enter end of interval: "))

for num in range(start, end + 1):
    order = len(str(num))
    if num == sum(int(digit) ** order for digit in str(num)):
        print(num)

Enter start of interval: 7
Enter end of interval: 47
7
8
9

In [ ]:
#20.Find the Sum of Natural Numbers

n = int(input("Enter a number: "))
sum_n = n * (n + 1) // 2
print(f"Sum of first {n} natural numbers is {sum_n}.")

Enter a number: 7
Sum of first 7 natural numbers is 28.

In [ ]:
#21.Print Reverse of a String

string = input("Enter a string: ")
print(f"Reversed string is: {string[::-1]}")

Enter a string: Musfiqur Shakib
Reversed string is: bikahS ruqifsuM

In [ ]:
#22.Print Sum of First Ten Natural Numbers

print(f"Sum of first 10 natural numbers is {sum(range(1, 11))}.")

Sum of first 10 natural numbers is 55.

In [ ]:
#23.7Find LCM

import math
def lcm(a, b):
    return abs(a*b) // math.gcd(a, b)

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print(f"LCM of {x} and {y} is {lcm(x, y)}.")

Enter first number: 3
Enter second number: 7
LCM of 3 and 7 is 21.

In [ ]:
#24.Find HCF

import math  # Import the math module
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print(f"HCF of {x} and {y} is {math.gcd(x, y)}.")

Enter first number: 7
Enter second number: 3
HCF of 7 and 3 is 1.

In [ ]:
#25.Convert Decimal to Binary, Octal, and Hexadecimal

num = int(input("Enter a decimal number: "))
print(f"Binary: {bin(num)[2:]}")
print(f"Octal: {oct(num)[2:]}")
print(f"Hexadecimal: {hex(num)[2:]}")

Enter a decimal number: 703
Binary: 1010111111
Octal: 1277
Hexadecimal: 2bf

In [ ]:
#26.Find ASCII value of a Character

char = input("Enter a character: ")
print(f"ASCII value of '{char}' is {ord(char)}.")

Enter a character: S
ASCII value of 'S' is 83.

In [ ]:
#27.Make a Simple Calculator

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y if y != 0 else 'Undefined (cannot divide by zero)'

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
operation = input("Choose operation (+, -, *, /): ")

if operation == '+':
    print(f"Result: {add(a, b)}")
elif operation == '-':
    print(f"Result: {subtract(a, b)}")
elif operation == '*':
    print(f"Result: {multiply(a, b)}")
elif operation == '/':
    print(f"Result: {divide(a, b)}")
else:
    print("Invalid operation!")

Enter first number: 7
Enter second number: 9
Choose operation (+, -, *, /): +
Result: 16.0

In [ ]:
#28.Display Fibonacci Sequence Using Recursion

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n_terms = int(input("Enter number of terms: "))
for i in range(n_terms):
    print(fibonacci(i), end=' ')

Enter number of terms: 7
0 1 1 2 3 5 8

In [ ]:
#29.Find Factorial of a Number Using Recursion

def factorial(n):
    if n == 1 or n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))
print(f"Factorial of {num} is {factorial(num)}.")

Enter a number: 17
Factorial of 17 is 355687428096000.

In [ ]:
#30.Calculate the Power of a Number

def power(base, exp):
    return base ** exp

base = float(input("Enter base: "))
exp = int(input("Enter exponent: "))
print(f"{base} to the power of {exp} is {power(base, exp)}.")

Enter base: 7.7
Enter exponent: 7
7.7 to the power of 7 is 1604852.3266853003.

In [ ]:
#31.Add Two Matrices

matrix1 = [[9, 7], [1, 3]]
matrix2 = [[5, 1], [7, 9]]

result = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]

for row in result:
    print(row)

[14, 8]
[8, 12]

In [ ]:
#32.Multiply Two Matrices

matrix1 = [[3, 2], [3, 4]]
matrix2 = [[5, 7], [7, 8]]

result = [[0, 0], [0, 0]]


for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result[i][j] += matrix1[i][k] * matrix2[k][j]

for row in result:
    print(row)

[29, 37]
[43, 53]

In [ ]:
#33.Transpose a Matrix

matrix = [[1, 5, 3], [4, 5, 3], [7, 8, 9]]
transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

for row in transpose:
    print(row)

[1, 4, 7]
[5, 5, 8]
[3, 3, 9]

In [ ]:
#34.Sort Words in Alphabetic Order

sentence = input("Enter a sentence: ")
words = sentence.split()
words.sort()
print("Sorted words:", " ".join(words))

Enter a sentence: My name is Musfiqur Shakib
Sorted words: Musfiqur My Shakib is name

In [ ]:
#35.Remove Punctuation From a String

import string

text = input("Enter a string: ")
cleaned_text = text.translate(str.maketrans("", "", string.punctuation))
print("String without punctuation:", cleaned_text)

Enter a string: My, na.me is Mu.sfiqur S,hakib
String without punctuation: My name is Musfiqur Shakib

In [ ]:
#36.Convert List to String

lst = ['My', 'Name', 'is Shakib']
result = " ".join(lst)
print(result)

My Name is Shakib

In [ ]:
#37.Convert Int to String

num = 739
print("String representation of number:", num)

String representation of number: 739

In [ ]:
#38.Concatenate Two Strings

str1 = "Musfiqur"
str2 = "Shakib"
result = str1 + str2
print(result)

MusfiqurShakib

In [ ]:
#39.Generate a Random String

import random
import string


length = int(input("Enter the length of the random string: "))
result = ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))
print(f"Random string: {result}")

Enter the length of the random string: 7
Random string: EZgejtU

In [ ]:
#40.Check Whether a Given String is a Palindrome or Not

a = input("Enter string: ")

# Normalize the string: convert to lowercase and remove spaces
b = a.replace(" ", "").lower()

# Check if the normalized string is a palindrome
if b == b[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter string: Madam
The string is a palindrome.

In [ ]:
#41Convert the String into Lowercase to Uppercase and Vice Versa

string = input("Enter a string: ")
swapped = string.swapcase()
print(f"Swapped case: {swapped}")

Enter a string: My Name is Musfiqur Shakib
Swapped case: mY nAME IS mUSFIQUR sHAKIB

In [ ]:
#42.Find the Occurrence of a Substring Within a String

string = input("Enter the main string: ")
substring = input("Enter the substring to find: ")
count = string.count(substring)
print(f"'{substring}' occurs {count} times in the string.")

Enter the main string: My name is Musfiqur Shakib . What is your name?
Enter the substring to find: name
'name' occurs 2 times in the string.

In [ ]:
#43.Append Element in the List

lst = [1, 2, 3, 4, 5, 6, 7,8,9,11,13]
a = int(input("Enter element to append: "))
lst.append(a)
print("Updated list:", lst)

Enter element to append: 17
Updated list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 17]

In [ ]:
#44.Compare Two Lists

list1 = [1, 5, 3]
list2 = [1, 5, 3]

if list1 == list2:
    print("Both lists are equal.")
else:
    print("Lists are not equal.")

Both lists are equal.

In [ ]:
#45.Convert List to Dictionary

keys = ['Name', 'Age', 'City']
values = ['Musfiqur Shakib', 23, 'Uttara ,Dhaka']

dictionary = dict(zip(keys, values))#mapping the keys and values in the dictionary
print("Converted dictionary:", dictionary)

Converted dictionary: {'Name': 'Musfiqur Shakib', 'Age': 23, 'City': 'Uttara ,Dhaka'}

In [ ]:
#46.Remove an Element from a List

lst = [1, 3, 5,7 ,9]
a = int(input("Enter element to remove: "))
lst.remove(a)
print("Updated list:", lst)

Enter element to remove: 5
Updated list: [1, 3, 7, 9]

In [ ]:
#47.Add Two Lists

list1 = [1,3,5,7,9 ]
list2 = [11,13,15,17,19]

result = list1 + list2#join or adding to list into new one
print("Combined list:", result)

Combined list: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#48.Convert List to Set

list = [1, 3,   5, 7,9]
set_result = set(list)
print("Converted set:", set_result)

Converted set: {1, 3, 5, 7, 9}

In [ ]:
#49.Convert List to String

list = ['My', 'name', 'is' , 'Shakib']
result = " ".join(list)
print("Converted string:", result)

Converted string: My name is Shakib

In [ ]:
a = [1, 2, 2, 3, 4, 4, 5, 5, 6]
b = list(set(a))  # Convert to set to remove duplicates
print("List after removing duplicates:", b)

List after removing duplicates: [1, 2, 3, 4, 5, 6]